# This secret is used for generating login and API tokens, make sure this
# is never exposed. Changing this secret will invalidate all login and API
# tokens. The following command can be used to generate a random secret:
#   openssl rand -base64 32
CHIRPSTACK_SECRET=replaceme
